<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{adminLayout/adminLayout}">
<head>
<meta charset="ISO-8859-1">
<title>Update Subject</title>
</head>
<body>
	<div layout:fragment="content" class="card text-center ml-3">
	
	<div style="width: 100%" class="card-header">
			<h3 style="font-weight: bold; font-size: 40px"
				th:text="'Update Subject'"></h3>
		</div>
		<div th:if="${error}" class="alert alert-info" id="error"
			style="height: 50px; background:white;">
			<p th:text="${error}" class="error" style="text-align: center"></p>
		</div>
		<div th:if="${message}" class="alert alert-info">
			<p th:text="${message}"></p>
		</div>

		<div th:if="${errorMessage}" class="error-message">
			<p style="color: red" th:text="${errorMessage}"></p>
		</div>
		<div class="card-body">
		<form method="post" th:object="${subject}"
				th:action="@{/admin/subject/update/*{id}}" id="update_subject_form" >
				<input type="hidden" th:field="*{id}" />
				<!-- id="update_subject_form" -->
			 <!--  <div class="form-group">
					<label for="name">Name:</label> <input type="text"
						class="form-control" name="name" id="name" th:field="*{name}" readonly />
				</div> -->  
				 <div>
				<div class="input-group mb-3">
					<div class="input-group-prepend" style="width: 150px">
						<label style="width: 100%" class="input-group-text" for="name">Name</label>
					</div>
					<input type="text" th:field="*{name}" class="form-control"
						id="name"  readonly>
				</div>
				
					</div> 
				<!-- <div class="form-group">
					<label for="credit">Credit:</label> <input type="number"
						class="form-control" name="credit" id="credit" th:field="*{credit}" />
				</div>  -->
				<div class="input-group mb-5">
			<div class="input-group-prepend" style="width: 150px">
			<label style="width: 100%" class="input-group-text">Type</label>
			</div>
 <select id="select_type_create_subject" name="type" class="form-control" required>
 <option value=""> select type</option>
 <option th:each="subject : ${type}" th:value="${subject}" th:text="${subject}" th:field="*{type}"></option>
 </select><br>
 
 </div>
 
  <div class="input-group mb-5" id="select_credit_proper" style="display: none">
			<div class="input-group-prepend" style="width: 150px">
			<label style="width: 100%" class="input-group-text" >Credit</label>
			</div>
 <select id="credit_create_subject" name="credit" class="form-control" required >
<option th:value="0">Select Credit</option>	
 <option th:value="1">1</option>
 <option th:value="2">2</option>
 <option th:value="3">3</option>
 <option th:value="4">4</option>
 <option th:value="5">5</option>
 </select>
 </div>

  <div class="input-group mb-5" id="credit_action_proper" style="display: none" >
			<div class="input-group-prepend" style="width: 150px">
			<label style="width: 100%" class="input-group-text">Credit for Action</label>
			</div>
  <select id="creditAction_create_subject" th:field="*{creditAction}" class="form-control" >
 <option th:each="subject : ${creditAction}" th:value="${subject}" th:text="${subject}"></option>
 <option th:value="0">Select Credit for Action</option>	
 <option th:value="1">1</option>
 <option th:value="2">2</option>
 <option th:value="3">3</option>
 <option th:value="4">4</option>
 </select><br>
 </div> 
				
				<button type="submit" class="btn btn-primary">Update</button>
				</form>
		</div>
</div>
</body>
</html>