<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{/layout}">
<head>
<title>Content</title>
</head>
<body>

	<div layout:fragment="content" class="card ml-4" style="width: 100%">

		<h3 class="card-head text-center" th:text="#{discuss.createhead}"></h3>


		<form th:action="@{/web/discuss/create}" th:object="${data}"
			class="card-body" method="post" style="width: 100%">

		
			
			<div class="input-group mt-5 d-none">
				<div class="input-group-prepend">
					<span class="input-group-text" 
						id="inputGroup-sizing-default">Class</span>
				</div>
				<input th:field="*{Class_id}" class="form-control" aria-label="Default"
					aria-describedby="inputGroup-sizing-default">
			</div>
			
			<div class="input-group mt-5 ">
				<div class="input-group-prepend">
					<span class="input-group-text" 
						id="inputGroup-sizing-default">Class</span>
				</div>
				<input th:value="${class.name}" class="form-control" aria-label="Default"
					aria-describedby="inputGroup-sizing-default">
			</div>

			<p th:if="${#fields.hasErrors('Class_id')}" th:errors="*{Class_id}"
				class="text-danger ">Name Error</p>

			<div class="input-group mt-5 ">
				<div class="input-group-prepend">
					<span class="input-group-text" th:text="#{label.name}"
						id="inputGroup-sizing-default">Name</span>
				</div>
				<input th:field="*{name}" class="form-control" aria-label="Default"
					aria-describedby="inputGroup-sizing-default">
			</div>

			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
				class="text-danger ">Name Error</p>

			<div class="input-group mt-5">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default"
						th:text="#{discuss.topic}">Topic</span>
				</div>
				<input th:field="*{topic}" class="form-control" aria-label="Default"
					aria-describedby="inputGroup-sizing-default">
			</div>
			<p th:if="${#fields.hasErrors('topic')}" th:errors="*{topic}"
				class="text-danger ">Name Error</p>

			<div class="mt-5">
				<div class="form-check form-check-inline">
					<input class="form-check-input input_by_radio" type="radio" checked
						name="type_time_expried" th:field="*{type}" value="minute">
					<label class="form-check-label" for="inlineRadio1"
						th:text="#{discuss.minute}">By minute</label>
				</div>

				<div class="form-check form-check-inline">
					<input class="form-check-input input_by_radio" type="radio"
						name="type_time_expried" th:field="*{type}" value="hour">
					<label class="form-check-label" for="inlineRadio2"
						th:text="#{discuss.hour}">By hour</label>
				</div>

				<div class="form-check form-check-inline">
					<input class="form-check-input input_by_radio" type="radio"
						name="type_time_expried" th:field="*{type}" value="day"> <label
						class="form-check-label" for="inlineRadio2"
						th:text="#{discuss.day}">By day</label>
				</div>
			</div>
			<p th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
				class="text-danger">Name Error</p>

		<div class="input-group  mt-5" id="minuteInput" style="display:none;" >
  <div class="input-group-prepend">
    <span class="input-group-text" th:text="#{discuss.expired}">Time expired</span>
  </div>
  <input  th:field="*{expried_date}"
  type="number" max="60" 
  class="form-control"
   aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <span class="input-group-text" id="span_show_type_edit_minute" th:text="#{discuss.minute}">By minute</span>
     <span class="input-group-text" id="span_show_type_edit_day" th:text="#{discuss.day}">By day</span>
      <span class="input-group-text" id="span_show_type_edit_hour" th:text="#{discuss.hour}">By hour</span>
  </div>
</div>

	

	
			<p th:if="${#fields.hasErrors('expried_date')}"
				th:errors="*{expried_date}" class="text-danger mb-4">Name Error</p>

			<button type="submit" class="btn btn-primary mt-5"
				th:text="#{label.create}">Create</button>



		</form>
	</div>
</body>
</html>