
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{/nonelayout}">

   <div class="main" layout:fragment="content">
   
			
			<form th:action="@{/send-otp}" method="post" style="width: 500px; margin: 0 auto;">
				<div class="border border-secondary rounded p-3">
				    <div>
				       <h1>Your Registered email</h1>
				    </div>
				    <span style="color:red" th:if="${aaaerrorMessage}" class="error-message" th:text="${aaaerrorMessage}"></span>
				    <div>
				   <!-- Thêm một phần hiển thị thông báo lỗi -->
					<div th:if="${message}" class="error-message" th:text="${message}"></div>
				        <p><input type="email" name="email" class="form-control" placeholder="Enter your email" required /></p>         
				        <p class="text-center">
				            <button>Send OTP</button>
				        </p>
				    </div>
				</div>
			</form>
	</div>
</html>