 
   
   <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: lightgray"
          >
    <!-- Grid container -->
    <div class=" p-4 pb-0">
      <!-- Section: Links -->
      <section class="w-100 pb-5">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <img style="width:100%" th:src="@{/getimage/logo.png}"/>
            <p style="color:white; font-size:16px">Cơ sở Lý Thường Kiệt: 268 Lý Thường Kiệt, Phường 14, Quận 10, TP. HCM (Bản đồ)</p>
         
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />


          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p style="color:white; font-size:16px"><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
            <p style="color:white; font-size:16px"><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p style="color:white; font-size:16px"><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          
             <hr class="w-100 clearfix d-md-none" />


          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">SOCIAL NETWORK</h6>
            <a >
             <i class="fab fa-facebook mr-4" style="font-size:40px"></i>
            </a>
         <a>
                  <i class="fab fa-linkedin mr-4" style="font-size:40px"></i>
         </a>
 <a>
  <i class="fab fa-youtube mr-4" style="font-size:40px"></i>
 </a>
         <a>
          <i class="fab fa-instagram-square mr-4" style="font-size:40px"></i>
         </a>
         
          </div>
          <!-- Grid column -->
        </div>
        
        
        
        <!--Grid row-->
      </section>
      <!-- Section: Links -->


<p class="pb-2">Copyright by Ho Chi Minh City University of Technology - VNUHCM</p>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->

 
